<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wecent.smartmvvm">

    <application
        android:name="com.wecent.smartmvvm.SmartApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_weixun"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@drawable/ic_weixun"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity
            android:name="com.wecent.smartmvvm.splash.SplashActivity"
            android:screenOrientation="locked"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wecent.smartmvvm.login.LoginActivity"
            android:screenOrientation="locked" />
        <activity
            android:name="com.wecent.smartmvvm.main.MainActivity"
            android:screenOrientation="locked"
            android:launchMode="singleTask"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>